.provider_icon {
  height: 1.25rem;
  width: 1.25rem;
}

.btn_facebook {
  background-color: var(--blue-600);
  color: var(--white);
}

.btn_google {
  background-color: var(--white);
  color: var(--gray-800);
  border: 1px solid var(--gray-300);
}

.btn_github {
  background-color: var(--gray-900);
  color: var(--white);
}
